@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&family=Poppins&family=Roboto:ital,wght@0,400;1,900&family=Ubuntu:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%
}

:root {
	apres-cor-text: #000000
}

body {
	background: #4e54c8;
	overflow-x: hidden;
}


header {
	border-bottom: 0.1px solid rgb(158, 158, 158);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

#nav-header {
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo {
	color: white;
	margin: 0px 15px 0px 0px;
	font-family: Montserrat;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 3rem;
}

#menu {
	margin: 15px;
	list-style: none;
	display: flex;
	flex-direction: row;
}

.menu-link {
	font-family: Montserrat;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.5rem;
	padding: 25px;
	color: white;
	transition: background 0.5s;
}

.menu-link:hover {
	background-color: white;
	color: black;
	font-weight: 900;
}

.btn-hamburguer {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	display: none;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	margin-right: 10px;
}

.btn-hamburguer:hover {
	cursor: pointer;
}


.hamburguer {
	background: white;
	display: flex;
	flex-direction: column;
	position: relative;
	height: 0.3rem;
	width: 4rem;
	align-items: center;
}

.hamburguer:before {
	background: #ffffff;
	content: '';
	display: block;
	position: absolute;
	top: -1.3rem;
	width: 4rem;
	height: 0.3rem;
	transition: all 0.5s ease-in-out;
}

.hamburguer:after {
	background: #ffffff;
	content: '';
	display: block;
	position: relative;
	top: 1.3rem;
	width: 4rem;
	height: 0.3rem;
	align-items: center;
}

#primeira-dobra {
	border-bottom: 0.1px solid rgb(158, 158, 158);
}

#primeira-dobra-conteudo {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 13rem;
	margin-bottom: 13rem;
}

#imagem-controle {
	max-width: 40rem;
	animation: flutuar 5s infinite;
}


@keyframes flutuar {
	0% {
		transform: translateY(-1rem)
	}

	50% {
		transform: translateY(1rem);
	}

	100% {
		transform: translateY(-1rem);
	}

}

#apresentacao-conteudo {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	align-items: center;
	width: 50rem;
}

#apresentacao-h1 {
	display: flex;
	color: white;
	font-family: Montserrat;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	font-size: 2.5rem;
	white-space: nowrap;
}

#apresentacao-p {
	font-size: 1.5rem;
	font-family: Montserrat;
	color: white;
	width: 100%;
	text-align: center;
}

.btn-comprar {
	background-color: #494c83;
	padding: 1rem;
	border: none;
	font-family: Montserrat;
	color: white;
	font-size: 1.5em;
	transition: all 350ms;
	width: 90%;
}

.btn-comprar:hover {
	background-color: #5a5c82;
	color: rgb(255, 255, 255);
	font-weight: 500;
	cursor: pointer;
}

#especificacoes-conteudo {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#especificacoes-h1 {
	font-family: Montserrat;
	color: white;
	font-size: 3.5rem;
	margin: 2rem;
	text-align: center;
	font-weight: normal;
}

#especificacoes-conteudo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 10rem 0 10rem;

}

.especificacoes-div {
	width: 30%;
	height: 50vh;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f5f2f2;
	-webkit-box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.49);
	-moz-box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.49);
	box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.49);
}

.especificacoes-div p {
	font-family: Open Sans;
	font-size: 1.5rem;
	text-align: center;
	color: var(apres-cor-text);
	width: 100%;
}

.especificacoes-div h1 {
	font-size: 3rem;
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	margin-bottom: 1rem;
	color: var(apres-cor-text);
	white-space: nowrap
}

.revelar {
	transform: translateX(-1500px);
	overflow: none;
	transition: transform 1.5s ease;
}

.revelar.active {
	transform: translateX(0px);
	opacity: 1;
}

footer {
	background-color: #888bc0;
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer-nav {
	display: flex;
}

.footer-nav ul {
	list-style: none;
	margin: 30px;
}

.footer-nav ul:before {
	content: attr(title);
	font-size: 23px;
	margin: 2px;
	font-family: Poppins;
	font-weight: normal;
}

.footer-nav ul li {
	margin: 2px;
}

.footer-nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-family: Poppins;
	font-weight: normal;
}

.footer-nav ul li a:hover {
	text-decoration: underline;
}

.footer-form {
	display: flex;
	flex-direction: column;
	width: 90%;
}

.footer-form h1 {
	text-align: center;
	color: rgb(0, 0, 0);
	font-family: Poppins;
	font-weight: normal;
}

.footer-form input {
	width: 100%;
	padding: 10px;
	margin: 10px 0px 10px 0px;
	background-color: white;
	border: none;
	outline: none;
}

.footer-form .btn-comprar {
	width: 100%;
}

@media (max-width: 990px) {
	#apresentacao-h1 {
		font-size: 3vw;
	}

	#apresentacao-conteudo {
		width: 40rem;
		margin: 1rem;
	}

	#imagem-controle {
		width: 48vw;
	}

	#apresentacao-p {
		font-size: min(3vw, 1.5rem);
	}

	footer {
		flex-direction: column;
	}

}

@media (max-width: 880px) {
	#especificacoes-conteudo {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		margin: 0px 0px 10rem 0px;

	}

	.especificacoes-div {
		width: 70%;
		height: 30vh;
		padding: 2rem;
		margin: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #f5f2f2;
	}
}

@media(max-width: 730px) {}

@media (max-width: 700px) {
	#imagem-controle {
		width: 70vw;
	}

	#apresentacao-h1 {
		font-size: 5vw;
	}

	#apresentacao-conteudo {
		width: 100%;
	}

	#primeira-dobra-conteudo {
		display: flex;
		flex-direction: column;
		margin: 30px;
	}

	.especificacoes-div {
		width: 80%;
	}


}

@media (max-width: 550px) {
	.footer-nav ul li a {
		font-size: 14px;
	}

	.especificacoes-div {
		width: 90%;
	}

	header {
		justify-content: space-between;
	}

	main {
		transition: filter .5s ease-in-out;
	}

	#nav.active main {
		filter: blur(5px);
	}

	#menu {
		display: block;
		position: absolute;
		right: 0;
		top: 5.9rem;
		margin: 0;
		padding: 0;
		width: 0px;
		background-color: #4e54c8;
		z-index: 20;
		height: 0px;
		visibility: hidden;
		overflow: hidden;
		transition: all 0.5s ease-in-out;
		height: calc(100vh - 59px);
	}

	#nav.active #menu {
		width: 50%;
		visibility: visible;
	}

	#nav.active {
		overflow-y: hidden;
	}

	#menu li {
		padding: 10px;
		margin: 0;
		width: 100%;
	}

	.menu-link {
		padding: 0;
	}

	.btn-hamburguer {
		display: flex;
	}
}

@media (max-width: 420px) {
	#primeira-dobra-conteudo {
		margin: 50px 30px 35px 30px
	}
}